<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projectreachout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_pro_image"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeV3"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".v3.views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".ManageUser.UserDetailsActivity" />
        <activity
            android:name=".ManageUser.ManageUserActivity"
            android:label="Manage user" />
        <activity
            android:name=".Login.SignInWithGoogleActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Utilities.ImagePickerUtilities.ImagePickerActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".EditProfile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Article.MyArticles.MyArticles"
            android:label="@string/title_my_articles"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Event.EventDetailsAndModification.SingleEventDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSingleEventDetailsAndModification"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".SelectPeople.SelectPeopleActivity"
            android:label="@string/title_activity_select_people"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Event.AddEvent.AddEventActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".Utilities.BackgroundSyncUtilities.NotificationAlarmReceiver"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>